<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="pure-min.css" />
    <style>
      body {
        padding: 50px;
      }
    </style>
  </head>
  <body>
    <h1><%= labels.details %></h1>
    <p>
      <%= labels.loggedinas %>: <%= user.name || user.username %>
    </p>
    <form action="/logout" method="GET">
      <button type="submit" class="pure-button pure-button-primary"><%= labels.logout %> </button>
    </form>
  </body>
</html>