<!doctype html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= labels.details %></h1>
    <p>
      <%= labels.loggedinas %>: <%= user.username %>
    </p>
    <form action="/logout" method="GET">
      <button type="submit"><%= labels.logout %> </button>
    </form>
  </body>
</html>