<!doctype html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <form action="<%= action %>" method="POST">
      <h1><%= labels.headline %></h1>
      <% if (error) {} %>
      <fieldset name="credentials">
        <% if (enumerateUsers) { %>
          <select name="userid">
            <% users.forEach(user => { %>
              <option value="<%= user.id %>"><%= user.username %></option>
            <% }) %>
          </select>
          <input type="hidden" name="username" placeholder="<%= labels.username %>" value="<%= username %>" />
          <input type="hidden" name="password" placeholder="<%= labels.password %>" value="<%= password %>" />
        <% } else { %>
          <input type="text" name="username" placeholder="<%= labels.username %>" value="<%= username %>" />
          <input type="password" name="password" placeholder="<%= labels.password %>" value="<%= password %>" />
        <% } %>
        <button type="submit"><%= labels.login %></button>
      </fieldset>
    </form>
  </body>
</html>