<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="pure-min.css" />
    <style>
      body {
        padding: 50px;
      }
    </style>
  </head>
  <body>
    <form action="<%= action %>" method="POST" class="pure-form pure-form-stacked">
      <h1><%= labels.headline %></h1>
      <% if (error) {} %>
      <fieldset name="credentials">
        <% if (enumerateUsers) { %>
          <label for="userId"><%= labels.selectuser %></label>
          <select name="userid" id="userId">
            <% users.forEach(user => { %>
              <option value="<%= user.id %>"><%= user.name || user.username %></option>
            <% }) %>
          </select>
          <input type="hidden" name="username" placeholder="<%= labels.username %>" value="<%= username %>" />
          <input type="hidden" name="password" placeholder="<%= labels.password %>" value="<%= password %>" />
        <% } else { %>
          <input type="text" name="username" placeholder="<%= labels.username %>" value="<%= username %>" />
          <input type="password" name="password" placeholder="<%= labels.password %>" value="<%= password %>" />
        <% } %>
        <button type="submit" class="pure-button pure-button-primary"><%= labels.login %></button>
      </fieldset>
    </form>
  </body>
</html>
